
    <h1>Add New Genre</h1>
    <div class="container">
        <form action="/memes/addGenre" enctype=multipart/form-data method="POST">
            <label for="genreTitle">Title</label>
            <input type="text" id="genreTitle" name="genreTitle" placeholder="The genre name">

            <input type="submit" value="Submit">
        </form>
    </div>
    {{{message}}}